@font-face {
    font-family: worksans;
    src: url(../fonts/worksans.woff2);

}

@font-face {
    font-family: worksansbold;
    src: url(../fonts/worksansbold.woff2);

}
.content-wrap{
    padding: 0;
}
.top {
    margin-top: 60px;
}
.describe {
    font:  300 1.5rem "worksans","Open Sans","Arial",sans-serif;
    line-height: 42px;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 0;
    text-align: right;
}
.name {
    font: 700 17px "worksansbold","Open Sans","Arial",sans-serif;
    /*letter-spacing: 2px;*/
    line-height: 2em;
    text-align: right;
    border-right: 5px solid rgb(0, 240, 220);

    padding-right: 8px;
}

.jumbotron{
    background-color: white;
    margin-bottom: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.pax{
    padding: 0.6rem;
}
.portfolio{
    padding: 0 1.6rem 1.6rem 1.6rem;
}
/*portfolio images with hover description*/
.img__wrap {
    position: relative;

}

.img__description {

    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;


    transition: opacity .2s, visibility .2s;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.m-center{    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding-top: 31%;
    width: 100%;
}


.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}
.start-right {
    text-align: right;
}
.color {
    color: rgb(0, 240, 220);
}
/*services starts here*/
.services{
    background-color: darkblue;
    color: white;
}
.blue-jumbo{
    background-color: darkblue;
    color: white;

}
.blue-describe{

    font:  300 1.5rem "worksans","Open Sans","Arial",sans-serif;
    line-height: 42px;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 4rem;
    text-align: right;

}
.describe-designer {
    font:  300 17px "worksans","Open Sans","Arial",sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: none;

}
.city-text{
    padding: 1em 1em 0 2em;
}
.city-image{
    padding:0;

}

.describe-brands{
    font:  300 22px "worksans","Open Sans","Arial",sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: none;
    padding: 1rem 0 1rem 0;
}
.brand-logo{

    /*padding: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    padding: 0.65rem;
}
.brand-logo:hover{
    transition-timing-function: ease;
    transition: 0.7s;
    transform: scale(1.38);
}
.news-pad{
    padding: 0;
}
.describe-news{
    font:  300 18px "worksans","Open Sans","Arial",sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: none;
    padding: 1rem 0 1rem 0;
}
