img.thumbnail {
    /*height: 250px;*/
    /*width: 250px;*/
    height: auto;
    width: 330px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;

}
img.ril-image-current.ril__image{
    height: auto;
    width: auto;
}
.image-display{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}